extends layout

block content


	h4 Upload Image
	form(action='/users/up', method='post', enctype='multipart-form-data')
		input.form-control#image.col-lg-4.col-md-6.col-sm-12.col-xs-12(type='file', name='image', placeholder='Upload a file please') 
		input.form-control#image.col-lg-4.col-md-6.col-sm-12.col-xs-12(type='file', name='image2', placeholder='Upload a file please') 
		input.form-control#image.col-lg-4.col-md-6.col-sm-12.col-xs-12(type='file', name='image3', placeholder='Upload a file please') 
		//- input#val(type='hidden' value=coupleId+'/'+uplineId+'/'+amount)
		span(id='image_error_message' class='error' style='color: red')
		br
		input.btn.btn-primary#up(type='submit', name='submit', value='Save')